*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #0f0524;
}

.header {
    display: flex;
    width: 100%;
    background: linear-gradient(
    90deg,
    #962424 0%,
    #411919 25%,
    #cf5252 55%,
    #893b3b 100%
  );
}
.left-side img {
  height: 80px;
  width: auto;           
  margin: 0 12px;        
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.left-side img:hover {
    transform: scale(1.06);
}

.middle-side {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 7px;
}
.middle-side a {
    display: inline-flex;
    align-items: center;
    padding: 6px 14px;
    border: 2px solid transparent;
    border-radius: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: white;
    transition: background 0.5s ease, border-color 0.3s ease;
}
.middle-side a:hover{
    background: rgb(153, 150, 168, 0.5);
    color: white;
}
.middle-side svg {
    display: block;
}
.middle-side a span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.right-side {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    margin-left: 390px;
    gap: 20px;
    
}

.right-side a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 4px 8px;
    border: 2px solid transparent;
    border-radius: 12px;
    transition: background 0.5s ease, border-color 0.3s ease;
}
.right-side a:hover {
    background: rgb(153, 150, 168, 0.5);
    color: white;

}
.span{
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: #e45c44;
    transition: background 0.8s ease, background-color 0.6s ease;
}
.span:hover {
    background-color: #7a2f2f;
}

/* Hero Container */
.hero {
    display: flex;
    padding: 80px 10% ;
    align-items: center;
    justify-content: space-between;
    color: white;
    min-height: 80vh;
    background: linear-gradient(
    90deg,
    #711e1e 0%,
    #411919 25%,
    #8b2d2d 55%,
    #8c3434 100%
  );
}

.hero-content {
    max-width: 550px;
    margin-bottom: 85px;
}

.hero-content h1 {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 64px;
    margin-bottom: 20px;
    line-height: 1.1;
}

.hero-content p {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    opacity: 0.9;
}

/* Buttons */
.hero-btns {
    display: flex;
    gap: 20px;
}

.btn-primary {
    background-color: #e44444;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary {
    border: 1px solid white;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
}
.moto-div{
    display: flex;
    padding: 0 70px;
}
.moto-image {
    width: 420px;
}

.logo-slider{
    overflow: hidden;
    padding: 14px 0;
    background: #361414;
    white-space: nowrap;
    position: relative;
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
.logo-track{
    display: flex;
    white-space: nowrap;
    gap: 43px;
    animation: scroll 10s linear infinite;
}
.logo-track img {
    height: 35px;
    margin: 0 !important;
    flex-shrink: 0;
}
@keyframes scroll {
    from {transform: translateX(0);}
    to {transform: translateX(-50%);}
}
